*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
.logo{
	float: left;
	height: 70px;
}
.nav{
	float: right;
}
.nav-list{
	float: left;
	width: 120px;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
	line-height: 70px;
}
.nav-list a{
	color: #FAFAFA

}
.menu-box{
	display: none;
}
#mv{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #FAFAFA
}
.mv-title{
	padding-top: 200px;
	font-size: 64px;
}
.mv-text{
	padding-top: 10px;
	font-size: 20px;
}
#portfolio{
	width: 100%;
	background-color: #ECEFF1;
	text-align: center;
	color: #000;
}
.heading{
	padding-top: 90px;
	font-size: 32px;
}
.heading::after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 ;
	background-color: #EC715F;
}
.heading-text{
	padding: 30px 0;
	font-size: 16px;
	text-align: center;
}
.pc-none{
	display: none;
}
.production-group{
	width: 920px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.production{
	float: left;
}
.bg-1{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}
.bg-2{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
}
.bg-3{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}
.bg-4{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}
.bg-5{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
}
.bg-6{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}
.production:nth-child(odd){
	margin-bottom: 10px;
}
.production:nth-child(3n){
	margin-right: 0;
}
#feature{
	width: 100%;
	text-align: center;
	color: #000;
}
.strength-group{
	width: 980px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.strength{
	float: left;
	width: 320px;
	margin-right: 10px;
}
.strength:last-child{
	margin-right: 0;
}
.fas{
	font-size: 60px;
}
.strength-title{
	padding: 10px 0;
	font-size: 20px;
}
.strength-text{
	font-size: 16px;
	text-align: left;
	color: #000;
}
#profile{
	width: 100%;
	background-color: #ECEFF1;
	text-align: center;
	color: #000;
}
.profile-group{
	width: 1024px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.left-content{
	float: left;
	width: 50%;
}
.my-face{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 250px;
	background-image: url(img/my-icon.jpg);
}
.right-content{
	float: right;
	width: 50%;
	text-align: left;
}
.discription-title{
	font-size: 20px;
	margin-bottom: 5px;
}
.discription-text:first-of-type{
	margin-bottom: 20px;
}
#contact{
	width: 100%;
	text-align: center;
	color: #000;
}
.contact-group{
	width: 800px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.left-contact-content{
	width: 130px;
	margin: 0 auto;
	text-align: start;
}
.link-text {
	display: inline-block;
    text-decoration: underline;
    color: #212121;
}
.right-contact-content{
	width: 170px;
	margin: 0 auto;
}
.fab{
	font-size: 45px;
	margin-right: 20px;
}
.fab:last-child{
	margin-right: 0;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #EC715F;
	text-align: center;
}
.copyright{
	line-height: 60px;
	font-size: 16px;
	color: #FAFAFA;
}
@media screen and (max-width: 768px){
	header{
		height: 50px;
	}
	nav{
		display: none;
	}
	.container{
		width: 90%;
	}
	.logo{
		float: none;
		height: 50px;
	}
	.menu-box {
		display: block;
	    float: right;
	    width: 40px;
	    height: 40px;
	    margin-right: 5%;
	    border: 1px solid #FAFAFA;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.list-bar{
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;

	}
	.list-bar:first-child{
		margin-top: 10px;
	}
	#mv{
		background-image: url(img/code.png);
	}
	.mv-title{
		font-size: 40px;
	}
	.mv-text{
		font-size: 18px;
	}
	.pc-none{
		display: block;
	}
	.sp-none{
		display: none;
	}
	.production-group{
		width: 300px;
	}
	.production{
		float: none;
	}
	.production:nth-child(even){
		margin-bottom: 10px;
	}
	.strength-group{
		width: 320px;
	}
	.strength{
		float: none;
		margin: 0 auto 10px;
	}
	.strength:last-child{
		margin-right: auto;
		margin-bottom: 0;
	}
	.profile-group{
		width: 90%;
	}
	.left-content{
		float: none;
		width: 100%;
	}
	.my-face{
		margin: 0 auto;
		background-image: url(img/my-icon.jpg);
	}
	.right-content{
		float: none;
		width: 100%;
		text-align: center;
	}
	.discription-title{
		margin: 20px auto 5px;
	}
	.discription-text:first-of-type {
	    margin-bottom: 0;
	}
	.contact-group{
		width: 90%;
		padding-bottom: 90px;
		margin: 0 auto;
	}
	.left-contact-content{
		width: 100%;
		text-align: center;
	}
	.right-contact-content{
		width: 100%;
	}
	.fab{
		font-size: 50px;
		margin-right: 8px;
	}
	.fab:last-child{
		margin-right: 0;
	}
}